# OBJECTS 
sequential-list/*.o
linked-list/simple-linked-list/*.o
linked-list/doubly-linked-list/*.o
binary-tree/tad/*.o
binary-tree/old-test/*.o
graduation-assignments/trabalho-1/*.o
graduation-assignments/trabalho-2/*.o
graduation-assignments/test-1/*.o

# EXECUTABLE
sequential-list/les
linked-list/ll
binary-tree/tad/ll
binary-tree/old-test/ll
graduation-assignments/trabalho-1/trabalho
graduation-assignments/trabalho-2/trabalho
graduation-assignments/test-1/prova

# ZIP
linked-list/*.zip
binary-tree/tad/*.zip
binary-tree/old-test/*.zip
graduation-assignments/trabalho-1/*.zip
graduation-assignments/trabalho-2/*.zip
graduation-assignments/test-1/*.zip